Repository cosmo-workspace/cosmo, pull requests merged in 2022-04, with the labels that each got.

#300 Fix incorrect priority of NetworkRule
  internal/dashboard/suite_test.go
  internal/webhooks/workspace_webhook.go
Labels: bug, controller-manager

#303 Fix webhook charts and add `make gen-charts`
  Makefile
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_instances.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_workspaces.yaml
  charts/cosmo-controller-manager/templates/webhook.yaml
  config/webhook-chart/kustomization.yaml
  config/webhook/manifests.yaml
  internal/webhooks/user_webhook.go
Labels: bug, controller-manager

#314 [instance controller] do update when applying Service is failed due to port duplication
  internal/controllers/instance_controller.go
  internal/webhooks/instance_webhook.go
  pkg/kubeutil/client.go
  web/dashboard-ui/src/views/organisms/NetworkRuleActionDialog.tsx
Labels: improvement, controller-manager, dashboard

#325 Add local test env for COSMO
  .dockerignore
  Makefile
  charts/cosmo-controller-manager/templates/manager.yaml
  charts/cosmo-controller-manager/values.yaml
  charts/cosmo-dashboard/templates/dashboard.yaml
  charts/cosmo-dashboard/values.yaml
  hack/echo-server/main.go
  hack/local-run-test/Makefile
  hack/local-run-test/README.md
  hack/local-run-test/assets/test-env-1.dio.svg
  hack/local-run-test/assets/test-env-2.dio.svg
  hack/local-run-test/bashrc
  hack/local-run-test/templates/code-server-01/Dockerfile
  hack/local-run-test/templates/code-server-01/Makefile
  hack/local-run-test/templates/code-server-01/cosmo-template.yaml
  hack/local-run-test/templates/code-server-01/kubernetes/kustomization.yaml
  hack/local-run-test/templates/code-server-01/kubernetes/network.yaml
  hack/local-run-test/templates/code-server-01/kubernetes/workspace.yaml
Labels: chore
