Repository cosmo-workspace/cosmo, pull requests merged in 2022-08, with the labels that each got.

#454 Remove support sysns useraddon and Add support ClusterTemplate for useraddon
  api/core/v1alpha1/cluster_template_types.go
  api/core/v1alpha1/instance_types.go
  api/core/v1alpha1/template_types.go
  api/openapi/dashboard/openapi-v1alpha1.yaml
  api/openapi/dashboard/v1alpha1/model__api_v1alpha1_user_addons.go
  api/openapi/dashboard/v1alpha1/model_template.go
  api/workspace/v1alpha1/const.go
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_clusterinstances.yaml
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_instances.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_users.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_workspaces.yaml
  charts/cosmo-dashboard/templates/roles.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_clusterinstances.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_instances.yaml
  config/crd/bases/workspace.cosmo-workspace.github.io_users.yaml
  config/crd/bases/workspace.cosmo-workspace.github.io_workspaces.yaml
  config/dashboard/role.yaml
  docs/CRD-DESIGN.md
  example/fixed-efs-pv-useraddon.yaml
  hack/local-run-test/Makefile
  internal/cmd/__snapshots__/template_test.snap
  internal/cmd/__snapshots__/user_test.snap
  internal/cmd/suite_test.go
  internal/cmd/template/generate.go
  internal/cmd/template/get.go
  internal/cmd/template_test.go
  internal/cmd/user/create.go
  internal/cmd/user_test.go
  internal/controllers/cluster_instance_controller.go
  internal/controllers/instance_controller.go
  internal/controllers/user_controller.go
  internal/controllers/user_controller_test.go
  internal/controllers/workspace_controller.go
  internal/controllers/workspace_status_controller.go
  internal/dashboard/suite_test.go
  internal/dashboard/template_handler.go
  internal/dashboard/user_handler.go
  internal/webhooks/template_webhook_test.go
  internal/webhooks/user_webhook.go
  internal/webhooks/workspace_webhook.go
  pkg/kosmo/template.go
  pkg/kosmo/template_test.go
  pkg/kosmo/test/test_util.go
  pkg/kubeutil/client.go
  pkg/kubeutil/template.go
  pkg/useraddon/useraddon.go
  pkg/useraddon/useraddon_test.go
  pkg/workspace/workspace.go
  pkg/workspace/workspace_test.go
  pkg/wscfg/config.go
  web/dashboard-ui/src/api/dashboard/v1alpha1/api.ts
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
Labels: improvement, controller-manager, cosmoctl, dashboard, Template, User

#462 [Dashboard UI] Fix default user addon checkbox not effective
  hack/local-run-test/Makefile
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
Labels: bug, dashboard

#470 Fix:[Dashboard UI] default user addon is not sent to the server
  hack/local-run-test/Makefile
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
Labels: bug, dashboard

#471 Fix controller manager bugs
  internal/authproxy/reconciler_test.go
  internal/authproxy/suite_test.go
  internal/cmd/suite_test.go
  internal/cmd/template_test.go
  internal/cmd/user_test.go
  internal/cmd/workspace_test.go
  internal/controllers/__snapshots__/cluster_instance_controller_test.snap
  internal/controllers/__snapshots__/instance_controller_test.snap
  internal/controllers/__snapshots__/template_controller_test.snap
  internal/controllers/cluster_instance_controller.go
  internal/controllers/cluster_instance_controller_test.go
  internal/controllers/instance_controller.go
  internal/controllers/instance_controller_test.go
  internal/controllers/suite_test.go
  internal/controllers/template_controller_test.go
  internal/controllers/workspace_status_controller.go
  internal/dashboard/suite_test.go
  internal/webhooks/suite_test.go
  pkg/auth/password/suite_test.go
  pkg/cmdutil/options_test.go
  pkg/kosmo/suite_test.go
  pkg/kubeutil/client_mock.go
  pkg/kubeutil/suite_test.go
Labels: bug, controller-manager
