Repository cosmo-workspace/cosmo, pull requests merged in 2022-11, with the labels that each got.

#634 Bump UI packages
  web/auth-proxy-ui/package.json
  web/auth-proxy-ui/src/auth-proxy/v1alpha1/authproxy_connectweb.ts
  web/auth-proxy-ui/src/auth-proxy/v1alpha1/authproxy_pb.ts
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/components/__snapshots__/ContextProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/ProgressProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/PasswordTextField.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/TextFieldLabel.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/PasswordChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserNameChangeDialog.spec.tsx.snap
  web/dashboard-ui/yarn.lock
Labels: dashboard, auth-proxy, dependencies

#635 [auth-proxy] Fix previous omissions of change
  dockerfile/auth-proxy.Dockerfile
  hack/local-run-test/Makefile
  proto/def/auth-proxy/v1alpha1/authproxy.proto
  proto/gen/auth-proxy/v1alpha1/authproxy.pb.go
Labels: bug, auth-proxy

#638 [dashboard-ui] Change the build tool to Vite
  dockerfile/dashboard.Dockerfile
  web/dashboard-ui/.gitignore
  web/dashboard-ui/README.md
  web/dashboard-ui/index.html
  web/dashboard-ui/package.json
  web/dashboard-ui/public/index.html
  web/dashboard-ui/src/__tests__/components/AuthRoute.spec.tsx
  web/dashboard-ui/src/__tests__/components/__snapshots__/LoginProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/MyThemeProvider.spec.tsx.snap
  web/dashboard-ui/src/components/LoginProvider.tsx
  web/dashboard-ui/src/components/PageSettingsProvider.tsx
  web/dashboard-ui/src/index.tsx
  web/dashboard-ui/src/setupProxy.js
  web/dashboard-ui/src/setupTests.ts
  web/dashboard-ui/src/vite-env.d.ts
  web/dashboard-ui/tsconfig.json
  web/dashboard-ui/tsconfig.node.json
  web/dashboard-ui/vite.config.ts
  web/dashboard-ui/yarn.lock
Labels: dashboard, dependencies, refactoring

#639 Add metrics endpoint on cosmo-auth-proxy
  docs/THIRD-PARTY-LICENCE.md
  go.mod
  go.sum
  internal/authproxy/proxy/manager.go
  internal/authproxy/proxy/server.go
  web/auth-proxy-ui/README.md
Labels: enhancement, auth-proxy, go

#654 FIx snapshots
  internal/dashboard/__snapshots__/auth_handler_test.snap
  internal/dashboard/__snapshots__/user_handler_test.snap
  internal/dashboard/__snapshots__/workspace_handler_test.snap
Labels: chore

#655 Rename "port name" to "network rule name"
  Makefile
  api/workspace/v1alpha1/workspace_types.go
  api/workspace/v1alpha1/workspace_types_test.go
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_workspaces.yaml
  config/crd/bases/workspace.cosmo-workspace.github.io_workspaces.yaml
  docs/CRD-DESIGN.md
  docs/WORKSPACE-DESIGN.md
  hack/local-run-test/Makefile
  internal/authproxy/__snapshots__/reconciler_test.snap
  internal/authproxy/reconciler.go
  internal/cmd/__snapshots__/netrule_test.snap
  internal/cmd/__snapshots__/workspace_test.snap
  internal/cmd/netrule/create.go
  internal/cmd/suite_test.go
  internal/cmd/workspace/get.go
  internal/controllers/workspace_controller_test.go
  internal/controllers/workspace_status_controller.go
  internal/dashboard/__snapshots__/workspace_handler_test.snap
  internal/dashboard/workspace_handler_test.go
  internal/dashboard/workspace_network_handler.go
  internal/webhooks/workspace_webhook.go
  internal/webhooks/workspace_webhook_test.go
  pkg/kosmo/test/test_util.go
  pkg/kosmo/workspace.go
  pkg/snap/match_snapshot_matcher.go
  pkg/workspace/workspace_test.go
  pkg/wsnet/url.go
  pkg/wsnet/url_test.go
  proto/gen/dashboard/v1alpha1/workspace.pb.go
  proto/gen/dashboard/v1alpha1/workspace.pb.validate.go
  proto/gen/index.md
  proto/proto/dashboard-apis/dashboard/v1alpha1/workspace.proto
  web/dashboard-ui/src/__tests__/views/organisms/WorkspaceModule.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/WorkspaceModule.spec.tsx.snap
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_pb.ts
  web/dashboard-ui/src/views/organisms/NetworkRuleActionDialog.tsx
  web/dashboard-ui/src/views/pages/WorkspacePage.tsx
Labels: documentation, controller-manager, dashboard, auth-proxy, javascript, go, breaking-change

#656 Delete UpdateTimeStamp to reduce reconciling
  api/core/v1alpha1/cluster_instance_types.go
  api/core/v1alpha1/cluster_template_types.go
  api/core/v1alpha1/instance_types.go
  api/core/v1alpha1/template_types.go
  api/core/v1alpha1/zz_generated.deepcopy.go
  api/workspace/v1alpha1/user.go
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_clusterinstances.yaml
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_clustertemplates.yaml
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_instances.yaml
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_templates.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_users.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_workspaces.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_clusterinstances.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_clustertemplates.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_instances.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_templates.yaml
  config/crd/bases/workspace.cosmo-workspace.github.io_users.yaml
  config/crd/bases/workspace.cosmo-workspace.github.io_workspaces.yaml
  internal/controllers/cluster_instance_controller.go
  internal/controllers/cluster_instance_controller_test.go
  internal/controllers/instance_controller.go
  internal/controllers/instance_controller_test.go
  internal/controllers/user_controller.go
  internal/controllers/workspace_controller.go
  internal/controllers/workspace_status_controller.go
  internal/dashboard/__snapshots__/auth_handler_test.snap
  internal/dashboard/__snapshots__/user_handler_test.snap
  internal/dashboard/__snapshots__/workspace_handler_test.snap
Labels: improvement, controller-manager, breaking-change

#658 [cosmoctl] Modify error message
  internal/cmd/__snapshots__/workspace_test.snap
  internal/cmd/workspace/get.go
Labels: cosmoctl, chore

#657 Different network rules for the same port
  api/workspace/v1alpha1/workspace_types.go
  go.mod
  go.sum
  hack/local-run-test/Makefile
  hack/local-run-test/templates/code-server-01/Makefile
  internal/authproxy/__snapshots__/reconciler_test.snap
  internal/authproxy/reconciler_test.go
  internal/authproxy/suite_test.go
  internal/cmd/__snapshots__/netrule_test.snap
  internal/cmd/__snapshots__/template_test.snap
  internal/cmd/__snapshots__/workspace_test.snap
  internal/cmd/netrule_test.go
  internal/cmd/suite_test.go
  internal/cmd/template_test.go
  internal/cmd/user_test.go
  internal/cmd/workspace_test.go
  internal/controllers/workspace_controller_test.go
  internal/dashboard/__snapshots__/auth_handler_test.snap
  internal/dashboard/__snapshots__/user_handler_test.snap
  internal/dashboard/__snapshots__/workspace_handler_test.snap
  internal/dashboard/suite_test.go
  internal/dashboard/workspace_handler_test.go
  internal/webhooks/__snapshots__/workspace_webhook_test.snap
  internal/webhooks/suite_test.go
  internal/webhooks/workspace_webhook.go
  internal/webhooks/workspace_webhook_test.go
  pkg/kosmo/workspace.go
  pkg/workspace/workspace.go
  pkg/workspace/workspace_test.go
Labels: improvement, controller-manager, auth-proxy, dependencies

#671 Bump UI,go,proto packages
  go.mod
  go.sum
  proto/package.json
  proto/yarn.lock
  web/auth-proxy-ui/package.json
  web/auth-proxy-ui/src/proto/gen/auth-proxy/v1alpha1/authproxy_connectweb.ts
  web/auth-proxy-ui/src/proto/gen/auth-proxy/v1alpha1/authproxy_pb.ts
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/README.md
  web/dashboard-ui/package-lock.json
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/components/__snapshots__/LoginProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserModule.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/WorkspaceModule.spec.tsx.snap
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/auth_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/auth_service_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_service_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_service_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_service_pb.ts
  web/dashboard-ui/vite.config.ts
  web/dashboard-ui/yarn.lock
Labels: dashboard, auth-proxy, dependencies, go
