Repository cosmo-workspace/cosmo, pull requests merged in 2022-03, with the labels that each got.

#209 Support public network rule in Dashboard
  api/openapi/dashboard/openapi-v1alpha1.yaml
  api/openapi/dashboard/v1alpha1/model_network_rule.go
  api/openapi/dashboard/v1alpha1/model_upsert_network_rule_request.go
  internal/dashboard/workspace_handler_test.go
  internal/dashboard/workspace_network_handler.go
  web/dashboard-ui/src/api/dashboard/v1alpha1/api.ts
  web/dashboard-ui/src/views/organisms/NetworkRuleActionDialog.tsx
  web/dashboard-ui/src/views/organisms/WorkspaceModule.tsx
  web/dashboard-ui/src/views/pages/WorkspacePage.tsx
Labels: improvement, dashboard

#236 update package & UI test snapshot files
  hack/api-generate/yarn.lock
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/PasswordTextField.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/TextFieldLabel.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/PasswordChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserNameChangeDialog.spec.tsx.snap
  web/dashboard-ui/yarn.lock
Labels: duplicate, dashboard, auth-proxy, chore

#237 Create release note automatically
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: chore

#243 Update release actions to be batch processed
  .github/workflows/release-drafter.yaml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yaml
  .goreleaser.yml
  Makefile
Labels: chore

#251 Sort network rule list items that respond from the dashboard API
  internal/dashboard/workspace_handler_test.go
  internal/dashboard/workspace_network_handler.go
Labels: improvement, dashboard

#250 update zz_generated.deepcopy.go.(Change only comment)
  api/core/v1alpha1/zz_generated.deepcopy.go
  api/workspace/v1alpha1/zz_generated.deepcopy.go
Labels: chore

#262 move charts to cosmo repository
  Makefile
  charts/cosmo-controller-manager/.helmignore
  charts/cosmo-controller-manager/Chart.yaml
  charts/cosmo-controller-manager/README.md
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_instances.yaml
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_templates.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_users.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_workspaces.yaml
  charts/cosmo-controller-manager/templates/NOTES.txt
  charts/cosmo-controller-manager/templates/_helpers.tpl
  charts/cosmo-controller-manager/templates/manager.yaml
  charts/cosmo-controller-manager/templates/roles.yaml
  charts/cosmo-controller-manager/templates/serviceaccount.yaml
  charts/cosmo-controller-manager/templates/user-addon-cosmo-auth-proxy-role.yaml
  charts/cosmo-controller-manager/templates/webhook.yaml
  charts/cosmo-controller-manager/values.yaml
  charts/cosmo-dashboard/.helmignore
  charts/cosmo-dashboard/Chart.yaml
  charts/cosmo-dashboard/README.md
  charts/cosmo-dashboard/templates/NOTES.txt
  charts/cosmo-dashboard/templates/_helpers.tpl
  charts/cosmo-dashboard/templates/cert.yaml
  charts/cosmo-dashboard/templates/dashboard.yaml
  charts/cosmo-dashboard/templates/ingress.yaml
  charts/cosmo-dashboard/templates/roles.yaml
  charts/cosmo-dashboard/templates/serviceaccount.yaml
  charts/cosmo-dashboard/values.yaml
Labels: chore

#263 fix for charts
  Makefile
  charts/README.md
  charts/cosmo-controller-manager/README.md
  charts/cosmo-dashboard/README.md
Labels: chore

#275 Remove Template from chart and update docs to install it manually
  .github/release-drafter.yml
  charts/cosmo-controller-manager/templates/user-addon-cosmo-auth-proxy-role.yaml
  docs/GETTING-STARTED.md
Labels: bug, documentation, controller-manager

#274 If ws.Spec.Replicas returns nil, set it to "1"
  internal/dashboard/workspace_handler.go
  internal/dashboard/workspace_handler_test.go
Labels: improvement, dashboard
