Repository cosmo-workspace/cosmo, pull requests merged in 2022-09, with the labels that each got.

#513 [dashboard-ui][auth-proxy-ui] Bump ui packages
  web/auth-proxy-ui/package.json
  web/auth-proxy-ui/src/components/MyThemeProvider.tsx
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/components/ContextProvider.spec.tsx
  web/dashboard-ui/src/__tests__/components/LoginProvider.spec.tsx
  web/dashboard-ui/src/__tests__/components/MyThemeProvider.spec.tsx
  web/dashboard-ui/src/__tests__/components/__snapshots__/ContextProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/LoginProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/ProgressProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/NameAvatar.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/PasswordTextField.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/TextFieldLabel.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/PasswordChangeDialog.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/UserModule.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/UserNameChangeDialog.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/WorkspaceModule.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/PasswordChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserNameChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/components/LoginProvider.tsx
  web/dashboard-ui/src/components/MyThemeProvider.tsx
  web/dashboard-ui/src/components/PageSettingsProvider.tsx
  web/dashboard-ui/src/components/ProgressProvider.tsx
  web/dashboard-ui/src/setupTests.ts
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
  web/dashboard-ui/src/views/templates/PageTemplate.tsx
  web/dashboard-ui/yarn.lock
Labels: dashboard, auth-proxy, dependencies, javascript

#547 Bump UI packages
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/PasswordTextField.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/PasswordChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserNameChangeDialog.spec.tsx.snap
  web/dashboard-ui/yarn.lock
Labels: dashboard, auth-proxy, dependencies

#556 Refactering: Add UserAddonTemplateRef
  api/core/v1alpha1/instance_types.go
  api/workspace/v1alpha1/user.go
  api/workspace/v1alpha1/zz_generated.deepcopy.go
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_clusterinstances.yaml
  charts/cosmo-controller-manager/crds/cosmo.cosmo-workspace.github.io_instances.yaml
  charts/cosmo-controller-manager/crds/workspace.cosmo-workspace.github.io_workspaces.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_clusterinstances.yaml
  config/crd/bases/cosmo.cosmo-workspace.github.io_instances.yaml
  config/crd/bases/workspace.cosmo-workspace.github.io_workspaces.yaml
  internal/cmd/user/create.go
  internal/controllers/user_controller_test.go
  internal/dashboard/user_handler.go
  internal/webhooks/user_webhook_test.go
  pkg/useraddon/useraddon_test.go
Labels: chore

#557 Update helm chart
  charts/cosmo-controller-manager/templates/manager.yaml
  charts/cosmo-controller-manager/values.yaml
Labels: improvement
