Repository cosmo-workspace/cosmo, pull requests merged in 2023-04, with the labels that each got.

#701 local-run-test: fix url for k3d service
  hack/local-run-test/Makefile
Labels: chore

#705 Bump UI & proto packages
  .github/dependabot.yml
  proto/gen/auth-proxy/v1alpha1/authproxy.pb.go
  proto/gen/auth-proxy/v1alpha1/authproxyv1alpha1connect/authproxy.connect.go
  proto/gen/dashboard/v1alpha1/auth_service.pb.go
  proto/gen/dashboard/v1alpha1/dashboardv1alpha1connect/auth_service.connect.go
  proto/gen/dashboard/v1alpha1/dashboardv1alpha1connect/template_service.connect.go
  proto/gen/dashboard/v1alpha1/dashboardv1alpha1connect/user_service.connect.go
  proto/gen/dashboard/v1alpha1/dashboardv1alpha1connect/workspace_service.connect.go
  proto/gen/dashboard/v1alpha1/template.pb.go
  proto/gen/dashboard/v1alpha1/template_service.pb.go
  proto/gen/dashboard/v1alpha1/user.pb.go
  proto/gen/dashboard/v1alpha1/user_service.pb.go
  proto/gen/dashboard/v1alpha1/workspace.pb.go
  proto/gen/dashboard/v1alpha1/workspace_service.pb.go
  proto/package.json
  proto/yarn.lock
  web/auth-proxy-ui/package.json
  web/auth-proxy-ui/src/proto/gen/auth-proxy/v1alpha1/authproxy_connectweb.ts
  web/auth-proxy-ui/src/proto/gen/auth-proxy/v1alpha1/authproxy_pb.ts
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/package-lock.json
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/components/__snapshots__/AuthRoute.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/ContextProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/LoginProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/MyThemeProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/components/__snapshots__/ProgressProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/AlertTooltip.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/NameAvatar.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/PasswordTextField.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/atoms/__snapshots__/TextFieldLabel.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/PasswordChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserModule.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserNameChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/WorkspaceModule.spec.tsx.snap
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/auth_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/auth_service_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_service_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_service_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/workspace_service_pb.ts
  web/dashboard-ui/vite.config.ts
  web/dashboard-ui/yarn.lock
Labels: dashboard, auth-proxy, dependencies, javascript, go

#710 Fix: local run test failed with traefik helm install error
  hack/local-run-test/Makefile
Labels: bug

#709 Fix: Normal User cannot get workspace templates
  internal/dashboard/__snapshots__/template_handler_test.snap
  internal/dashboard/template_handler.go
  internal/dashboard/template_handler_test.go
Labels: bug, dashboard
