Repository cosmo-workspace/cosmo, pull requests merged in 2023-08, with the labels that each got.

#793 Feature required UserAddons and improve template validation
  api/v1alpha1/template_types.go
  api/v1alpha1/user_types.go
  hack/local-run-test/Makefile
  hack/local-run-test/templates/dev-code-server/Makefile
  hack/local-run-test/templates/dev-code-server/cosmo-template.yaml
  hack/local-run-test/templates/dev-code-server/team-a-template.yaml
  hack/local-run-test/templates/dev-code-server/team-a/kustomization.yaml
  hack/local-run-test/templates/dev-code-server/team-shared-template.yaml
  hack/local-run-test/templates/iamserviceaccount/Makefile
  hack/local-run-test/templates/iamserviceaccount/addon.yaml
  hack/local-run-test/templates/iamserviceaccount/kubernetes/clusterrolebinding.yaml
  hack/local-run-test/templates/iamserviceaccount/kubernetes/kustomization.yaml
  hack/local-run-test/templates/iamserviceaccount/kubernetes/serviceaccount.yaml
  internal/cmd/__snapshots__/template_test.snap
  internal/cmd/template/generate.go
  internal/cmd/template/get.go
  internal/cmd/template_test.go
  internal/dashboard/__snapshots__/template_handler_test.snap
  internal/dashboard/auth_middleware.go
  internal/dashboard/template_handler.go
  internal/dashboard/template_handler_test.go
  internal/dashboard/user_sub_handler.go
  internal/webhooks/user_webhook.go
  internal/webhooks/user_webhook_test.go
  internal/webhooks/workspace_webhook.go
  internal/webhooks/workspace_webhook_test.go
  pkg/kosmo/template.go
  pkg/kosmo/template_test.go
  pkg/kosmo/test/test_util.go
  pkg/kubeutil/utils.go
  pkg/useraddon/useraddon.go
  pkg/useraddon/useraddon_test.go
  proto/gen/dashboard/v1alpha1/dashboardv1alpha1connect/template_service.connect.go
  proto/gen/dashboard/v1alpha1/template.pb.go
  proto/gen/dashboard/v1alpha1/template_service.pb.go
  proto/gen/dashboard/v1alpha1/template_service.pb.validate.go
  proto/gen/index.md
  proto/proto/dashboard-apis/dashboard/v1alpha1/template.proto
  proto/proto/dashboard-apis/dashboard/v1alpha1/template_service.proto
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_pb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_service_connectweb.ts
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/template_service_pb.ts
  web/dashboard-ui/src/views/organisms/UserAddonsChangeDialog.tsx
  web/dashboard-ui/src/views/organisms/UserModule.tsx
  web/dashboard-ui/src/views/organisms/WorkspaceActionDialog.tsx
  web/dashboard-ui/src/views/organisms/WorkspaceModule.tsx
Labels: improvement

#794 Support group-admin is admin for group
  api/v1alpha1/user_types.go
  api/v1alpha1/user_types_test.go
Labels: improvement

#795 Improve cosmoctl
  internal/cmd/__snapshots__/netrule_test.snap
  internal/cmd/__snapshots__/user_test.snap
  internal/cmd/__snapshots__/workspace_test.snap
  internal/cmd/create/cmd.go
  internal/cmd/delete/cmd.go
  internal/cmd/get/cmd.go
  internal/cmd/netrule/cmd.go
  internal/cmd/netrule/create.go
  internal/cmd/netrule/delete.go
  internal/cmd/run/cmd.go
  internal/cmd/stop/cmd.go
  internal/cmd/user/cmd.go
  internal/cmd/user/create.go
  internal/cmd/user/get.go
  internal/cmd/user/update.go
  internal/cmd/user_test.go
  internal/cmd/workspace/cmd.go
  internal/cmd/workspace/create.go
  internal/cmd/workspace/delete.go
  internal/cmd/workspace/get.go
  internal/cmd/workspace/run_instance.go
  internal/cmd/workspace/stop_instance.go
  internal/cmd/workspace_test.go
  internal/webhooks/__snapshots__/user_webhook_test.snap
  internal/webhooks/user_webhook.go
  internal/webhooks/user_webhook_test.go
Labels: improvement, controller-manager, cosmoctl

#796 fix local-run-test
  hack/local-run-test/Makefile
  hack/local-run-test/templates/dev-code-server/Makefile
  hack/local-run-test/templates/dev-code-server/gryffindor-template.yaml
  hack/local-run-test/templates/dev-code-server/gryffindor/kustomization.yaml
  hack/local-run-test/templates/iamserviceaccount/Makefile
  hack/local-run-test/templates/iamserviceaccount/addon.yaml
Labels: chore

#799 Improve UI about UserAddon infomation
  web/dashboard-ui/src/App.tsx
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserModule.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/WorkspaceModule.spec.tsx.snap
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
  web/dashboard-ui/src/views/templates/PageTemplate.tsx
Labels: improvement, dashboard

#800 Show webhook error on UI
  internal/cmd/__snapshots__/netrule_test.snap
  internal/cmd/__snapshots__/user_test.snap
  internal/cmd/__snapshots__/workspace_test.snap
  internal/dashboard/__snapshots__/auth_handler_test.snap
  internal/dashboard/__snapshots__/template_handler_test.snap
  internal/dashboard/__snapshots__/user_handler_test.snap
  internal/dashboard/__snapshots__/workspace_handler_test.snap
  internal/dashboard/auth_handler.go
  internal/dashboard/auth_middleware.go
  internal/dashboard/user_handler.go
  internal/dashboard/user_sub_handler.go
  internal/dashboard/util.go
  internal/dashboard/validator_interceptor.go
  pkg/cmdutil/errors.go
  pkg/kosmo/client_test.go
  pkg/kosmo/errors.go
  pkg/kosmo/password.go
  pkg/kosmo/template.go
  pkg/kosmo/user.go
  pkg/kosmo/workspace.go
Labels: improvement, dashboard, refactoring

#802 Skip UserRole validation for Default UserAddon
  api/v1alpha1/template_types.go
  internal/webhooks/user_webhook.go
  pkg/template/label.go
  pkg/template/label_test.go
Labels: bug, controller-manager

#803 keep search string and filter roles state in URL param
  docs/THIRD-PARTY-LICENCE.md
  web/dashboard-ui/package.json
  web/dashboard-ui/src/views/pages/UserPage.tsx
  web/dashboard-ui/src/views/pages/WorkspacePage.tsx
  web/dashboard-ui/yarn.lock
Labels: improvement, dashboard

#804 Backoff for next reconciliation
  internal/controllers/workspace_status_controller.go
Labels: improvement, controller-manager

#806 Bump ui packages
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/components/__snapshots__/ContextProvider.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/PasswordChangeDialog.spec.tsx.snap
  web/dashboard-ui/src/__tests__/views/organisms/__snapshots__/UserNameChangeDialog.spec.tsx.snap
  web/dashboard-ui/yarn.lock
Labels: dashboard, dependencies

#807 Store workspace last start and stop time in annotation
  api/v1alpha1/workspace_types.go
  hack/local-run-test/Makefile
  hack/local-run-test/templates/dev-code-server/cosmo-template.yaml
  hack/local-run-test/templates/dev-code-server/gryffindor-template.yaml
  internal/dashboard/__snapshots__/workspace_handler_test.snap
  pkg/kosmo/workspace.go
  pkg/kubeutil/utils.go
  pkg/snap/object_snapshot.go
Labels: controller-manager

#809 Improve reconciliation
  hack/local-run-test/Makefile
  internal/controllers/__snapshots__/user_controller_test.snap
  internal/controllers/__snapshots__/workspace_controller_test.snap
  internal/controllers/cluster_instance_controller.go
  internal/controllers/instance_controller.go
  internal/controllers/user_controller.go
  internal/controllers/user_controller_test.go
  internal/controllers/workspace_controller.go
  internal/controllers/workspace_controller_test.go
  internal/dashboard/workspace_handler_test.go
  internal/webhooks/instance_webhook.go
  pkg/instance/__snapshots__/mutate_test.snap
  pkg/instance/mutate.go
  pkg/instance/mutate_test.go
  pkg/kubeutil/client.go
  pkg/snap/object_snapshot.go
  pkg/useraddon/useraddon.go
  pkg/workspace/workspace.go
Labels: controller-manager, refactoring
