Repository cosmo-workspace/cosmo, pull requests merged in 2023-06, with the labels that each got.

#733 Support LDAP authentication
  Makefile
  api/v1alpha1/user_types.go
  api/v1alpha1/user_types_test.go
  charts/cosmo-dashboard/templates/dashboard.yaml
  charts/cosmo-dashboard/values.yaml
  docs/CRD-DESIGN.md
  docs/THIRD-PARTY-LICENCE.md
  go.mod
  go.sum
  internal/authproxy/reconciler_test.go
  internal/cmd/__snapshots__/user_test.snap
  internal/cmd/netrule_test.go
  internal/cmd/user/create.go
  internal/cmd/user/reset_password.go
  internal/cmd/user_test.go
  internal/cmd/workspace_test.go
  internal/controllers/__snapshots__/user_controller_test.snap
  internal/controllers/user_controller.go
  internal/controllers/user_controller_test.go
  internal/dashboard/__snapshots__/auth_handler_test.snap
  internal/dashboard/__snapshots__/root_test.snap
  internal/dashboard/__snapshots__/user_handler_test.snap
  internal/dashboard/auth_handler.go
  internal/dashboard/auth_handler_test.go
  internal/dashboard/root.go
  internal/dashboard/root_test.go
  internal/dashboard/suite_test.go
  internal/dashboard/user_handler.go
  internal/dashboard/user_handler_test.go
  pkg/auth/ldap_authorizer.go
  pkg/auth/ldap_authorizer_test.go
  pkg/auth/mock_authorizer.go
  pkg/kosmo/test/test_util.go
  proto/Makefile
  proto/buf.gen/buf.gen.go.yaml
  proto/buf.gen/buf.gen.ts.auth-proxy-ui.yaml
  proto/buf.gen/buf.gen.ts.dashboard-ui.yaml
  proto/gen/dashboard/v1alpha1/user.pb.go
  proto/gen/dashboard/v1alpha1/user.pb.validate.go
  proto/gen/index.md
  proto/proto/dashboard-apis/dashboard/v1alpha1/user.proto
  web/dashboard-ui/src/proto/gen/dashboard/v1alpha1/user_pb.ts
  web/dashboard-ui/src/services/DashboardServices.ts
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
  web/dashboard-ui/src/views/organisms/UserModule.tsx
  web/dashboard-ui/src/views/pages/UserPage.tsx
Labels: enhancement, controller-manager, cosmoctl, dashboard

#737 improvements for webhooks
  internal/controllers/cluster_instance_controller_test.go
  internal/controllers/cluster_template_controller_test.go
  internal/controllers/instance_controller_test.go
  internal/controllers/template_controller_test.go
  internal/controllers/user_controller_test.go
  internal/webhooks/__snapshots__/instance_webhook_test.snap
  internal/webhooks/__snapshots__/template_webhook_test.snap
  internal/webhooks/instance_webhook.go
  internal/webhooks/instance_webhook_test.go
  internal/webhooks/template_webhook.go
  internal/webhooks/template_webhook_test.go
  pkg/kubeutil/test/snap/snap.go
Labels: bug, controller-manager, go

#738 Add label `cosmo-workspace.github.io/controller-managed` on password secret
  api/v1alpha1/utils.go
  api/v1alpha1/utils_test.go
  pkg/auth/password/password.go
Labels: controller-manager, go, refactoring

#742 Rename object snapshot pkg
  Makefile
  internal/controllers/cluster_instance_controller_test.go
  internal/controllers/cluster_template_controller_test.go
  internal/controllers/instance_controller_test.go
  internal/controllers/template_controller_test.go
  internal/controllers/user_controller_test.go
  internal/webhooks/template_webhook_test.go
  pkg/snap/object_snapshot.go
Labels: chore

#743 Remove auth-proxy from test and release
  .github/workflows/release.yaml
  internal/authproxy/suite_test.go
Labels: chore

#745 Feature integration with traefik ingressroute
  .gitignore
  Makefile
  api/v1alpha1/utils.go
  charts/cosmo-controller-manager/templates/manager.yaml
  charts/cosmo-controller-manager/values.yaml
  charts/cosmo-dashboard/templates/useraddon-cosmo-username-headers.yaml
  charts/cosmo-dashboard/values.yaml
  cmd/controller-manager/main.go
  config/user-addon/auth-proxy/Makefile
  config/user-addon/auth-proxy/user-addon-cosmo-auth-proxy-role.yaml
  config/user-addon/traefik-middleware/Makefile
  config/user-addon/traefik-middleware/cosmo-username-headers.yaml
  config/user-addon/traefik-middleware/useraddon-cosmo-username-headers.yaml
  example/code-server-ingress-no-storage-no-authproxy.yaml
  example/code-server-ingress-no-storage.yaml
  example/theia.yaml
  example/useraddons/amazon-efs-shared-filesystem/README.md
  example/useraddons/amazon-efs-shared-filesystem/efs-shared-filesystem.yaml
  example/useraddons/amazon-eks-iamserviceaccount/README.md
  example/useraddons/amazon-eks-iamserviceaccount/cloudformation.yml
  example/useraddons/amazon-eks-iamserviceaccount/eks-irsa-useraddon.yaml
  example/useraddons/resource-limitter/README.md
  example/useraddons/resource-limitter/resource-limitter.yaml
  example/workspaces/code-server.yaml
  example/workspaces/openvscode-server.yaml
  hack/local-run-test/Makefile
  internal/controllers/__snapshots__/workspace_controller_test.snap
  internal/controllers/suite_test.go
  internal/controllers/workspace_controller.go
  internal/controllers/workspace_controller_test.go
  pkg/workspace/__snapshots__/traefik_ingressroute_test.snap
  pkg/workspace/traefik_ingressroute.go
  pkg/workspace/traefik_ingressroute_test.go
Labels: enhancement, controller-manager

#747 Fix: helm not downloading
  Makefile
Labels: chore

#749 update defaultURLBase host
  charts/cosmo-controller-manager/values.yaml
  cmd/controller-manager/main.go
  hack/local-run-test/Makefile
Labels: chore

#750 update snapshot
  internal/authproxy/__snapshots__/reconciler_test.snap
Labels: chore

#751 Fix run-local error
  Makefile
  charts/cosmo-dashboard/templates/useraddon-cosmo-username-headers.yaml
  hack/local-run-test/Makefile
Labels: chore

#752 Not to show UserSelect component for *-admin users
  internal/dashboard/__snapshots__/user_handler_test.snap
  internal/dashboard/auth_middleware.go
  internal/dashboard/auth_middleware_test.go
  internal/dashboard/user_handler.go
  internal/dashboard/user_sub_handler.go
  web/dashboard-ui/src/views/pages/WorkspacePage.tsx
Labels: bug, dashboard

#757 Bump UI packages
  web/auth-proxy-ui/package.json
  web/auth-proxy-ui/src/views/pages/SignIn.tsx
  web/auth-proxy-ui/yarn.lock
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/views/organisms/UserModule.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/WorkspaceModule.spec.tsx
  web/dashboard-ui/src/views/organisms/UserModule.tsx
  web/dashboard-ui/src/views/organisms/WorkspaceModule.tsx
  web/dashboard-ui/yarn.lock
Labels: dashboard, dependencies

#756 Update templates
  config/user-addon/traefik-middleware/Makefile
  config/user-addon/traefik-middleware/useraddon-cosmo-username-headers.yaml
  hack/local-run-test/templates/code-server-01/Makefile
  hack/local-run-test/templates/code-server-01/cosmo-template.yaml
  hack/local-run-test/templates/code-server-01/kubernetes/network.yaml
  hack/local-run-test/templates/code-server-01/team-a-template.yaml
  hack/local-run-test/templates/code-server-01/team-shared-template.yaml
  hack/local-run-test/templates/dev-code-server/Makefile
  hack/local-run-test/templates/dev-code-server/cosmo-template.yaml
  hack/local-run-test/templates/dev-code-server/kubernetes/network.yaml
  hack/local-run-test/templates/dev-code-server/team-a-template.yaml
  hack/local-run-test/templates/dev-code-server/team-shared-template.yaml
Labels: bug, chore

#755 Supports TLS for LDAP authentication
  charts/cosmo-dashboard/templates/dashboard.yaml
  charts/cosmo-dashboard/values.yaml
  hack/local-run-test/Makefile
  internal/dashboard/__snapshots__/root_test.snap
  internal/dashboard/root.go
  internal/dashboard/root_test.go
  pkg/auth/ldap_authorizer.go
  pkg/auth/ldap_authorizer_test.go
Labels: improvement, dashboard

#760 Fix: Incorrect error in dashbord after session timeout
  Makefile
  hack/local-run-test/Makefile
  web/dashboard-ui/package.json
  web/dashboard-ui/src/__tests__/components/AuthRoute.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/PasswordChangeDialog.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/UserModule.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/UserNameChangeDialog.spec.tsx
  web/dashboard-ui/src/__tests__/views/organisms/WorkspaceModule.spec.tsx
  web/dashboard-ui/src/components/LoginProvider.tsx
  web/dashboard-ui/src/services/DashboardServices.ts
  web/dashboard-ui/src/views/organisms/UserModule.tsx
  web/dashboard-ui/src/views/organisms/WorkspaceModule.tsx
  web/dashboard-ui/vite.config.ts
  web/dashboard-ui/yarn.lock
Labels: bug, dashboard

#763 fix makefile in local-run-test
  hack/local-run-test/Makefile
Labels: chore

#766 Add ldap search mode
  charts/cosmo-dashboard/templates/dashboard.yaml
  charts/cosmo-dashboard/values.yaml
  hack/local-run-test/Makefile
  hack/local-run-test/templates/dev-code-server/cosmo-template.yaml
  hack/local-run-test/templates/dev-code-server/team-a-template.yaml
  hack/local-run-test/templates/dev-code-server/team-shared-template.yaml
  internal/dashboard/root.go
  pkg/auth/ldap_authorizer.go
  pkg/auth/ldap_authorizer_test.go
Labels: improvement, dashboard

#770 GC for User addon
  internal/controllers/__snapshots__/user_controller_test.snap
  internal/controllers/instance_controller_test.go
  internal/controllers/user_controller.go
  internal/controllers/user_controller_test.go
  internal/controllers/workspace_controller_test.go
Labels: enhancement, controller-manager, User

#773 remove auth-proxy
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release.yaml
  Makefile
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/cosmo-auth-proxy-role.yaml
  config/rbac/kustomization.yaml
  config/user-addon/auth-proxy/Makefile
  config/user-addon/auth-proxy/auth-proxy-role.yaml
  config/user-addon/auth-proxy/auth-proxy-rolebinding.yaml
  config/user-addon/auth-proxy/kustomization.yaml
  config/user-addon/auth-proxy/user-addon-cosmo-auth-proxy-role.yaml
  dockerfile/auth-proxy.Dockerfile
  docs/CRD-DESIGN.md
  docs/GETTING-STARTED.md
  docs/assets/auth-proxy.drawio.png
  go.mod
  hack/local-run-test/Makefile
  hack/local-run-test/assets/test-env-1.dio.svg
  hack/local-run-test/assets/test-env-2.dio.svg
  internal/cmd/template/cmd.go
  internal/cmd/template/workspace.go
  proto/Makefile
  proto/buf.gen/buf.gen.ts.auth-proxy-ui.yaml
  proto/buf.work.yaml
  proto/gen/auth-proxy/v1alpha1/authproxy.pb.go
  proto/gen/auth-proxy/v1alpha1/authproxy.pb.validate.go
  proto/gen/auth-proxy/v1alpha1/authproxyv1alpha1connect/authproxy.connect.go
  proto/gen/index.md
  proto/proto/auth-proxy-apis/auth-proxy/v1alpha1/authproxy.proto
  proto/proto/auth-proxy-apis/buf.lock
  proto/proto/auth-proxy-apis/buf.yaml
  web/auth-proxy-ui/.gitignore
  web/auth-proxy-ui/README.md
  web/auth-proxy-ui/index.html
  web/auth-proxy-ui/package.json
  web/auth-proxy-ui/public/favicon.ico
  web/auth-proxy-ui/public/manifest.json
  web/auth-proxy-ui/public/robots.txt
  web/auth-proxy-ui/src/App.tsx
  web/auth-proxy-ui/src/components/MyThemeProvider.tsx
  web/auth-proxy-ui/src/index.css
  web/auth-proxy-ui/src/logo-with-name-small.png
  web/auth-proxy-ui/src/main.tsx
  web/auth-proxy-ui/src/proto/gen/auth-proxy/v1alpha1/authproxy_connectweb.ts
  web/auth-proxy-ui/src/proto/gen/auth-proxy/v1alpha1/authproxy_pb.ts
  web/auth-proxy-ui/src/views/atoms/PasswordTextField.tsx
  web/auth-proxy-ui/src/views/pages/SignIn.tsx
  web/auth-proxy-ui/src/vite-env.d.ts
  web/auth-proxy-ui/tsconfig.json
  web/auth-proxy-ui/tsconfig.node.json
  web/auth-proxy-ui/vite.config.ts
  web/auth-proxy-ui/yarn.lock
Labels: auth-proxy, refactoring
