Repository cosmo-workspace/cosmo, pull requests merged in 2023-05, with the labels that each got.

#713 Bump up Go v1.20, k8s.io v1.26.3 and others
  .github/workflows/release.yaml
  Makefile
  charts/cosmo-controller-manager/crds/cosmo-workspace.github.io_clusterinstances.yaml
  charts/cosmo-controller-manager/crds/cosmo-workspace.github.io_clustertemplates.yaml
  charts/cosmo-controller-manager/crds/cosmo-workspace.github.io_instances.yaml
  charts/cosmo-controller-manager/crds/cosmo-workspace.github.io_templates.yaml
  charts/cosmo-controller-manager/crds/cosmo-workspace.github.io_users.yaml
  charts/cosmo-controller-manager/crds/cosmo-workspace.github.io_workspaces.yaml
  config/crd/bases/cosmo-workspace.github.io_clusterinstances.yaml
  config/crd/bases/cosmo-workspace.github.io_clustertemplates.yaml
  config/crd/bases/cosmo-workspace.github.io_instances.yaml
  config/crd/bases/cosmo-workspace.github.io_templates.yaml
  config/crd/bases/cosmo-workspace.github.io_users.yaml
  config/crd/bases/cosmo-workspace.github.io_workspaces.yaml
  dockerfile/auth-proxy.Dockerfile
  dockerfile/controller-manager.Dockerfile
  dockerfile/dashboard.Dockerfile
  go.mod
  go.sum
  hack/local-run-test/Makefile
  pkg/cmdutil/options_test.go
Labels: dependencies, go

#714 Fix: Workspace Network Rules are wierd if cosmo-auth-proxy is disabled #668
  api/v1alpha1/__snapshots__/workspace_types_test.snap
  api/v1alpha1/workspace_types.go
  api/v1alpha1/workspace_types_test.go
  docs/THIRD-PARTY-LICENCE.md
  go.mod
  go.sum
  internal/controllers/__snapshots__/instance_controller_test.snap
  pkg/transformer/__snapshots__/network_test.snap
  pkg/transformer/network.go
  pkg/transformer/network_test.go
  pkg/workspace/__snapshots__/workspace_test.snap
  pkg/workspace/workspace.go
  pkg/workspace/workspace_test.go
Labels: bug, Workspace

#715 Fix: cookies not cleared on logout
  internal/dashboard/__snapshots__/auth_handler_test.snap
  internal/dashboard/auth_handler.go
  internal/dashboard/auth_handler_test.go
Labels: bug, dashboard

#716 Add "--password" argument to reset-password
  hack/local-run-test/Makefile
  internal/cmd/__snapshots__/user_test.snap
  internal/cmd/user/reset_password.go
  internal/cmd/user_test.go
Labels: enhancement, cosmoctl

#719 feature: auto redirect from signin page when already signed in
  web/dashboard-ui/src/__tests__/views/pages/SignIn.spec.tsx
  web/dashboard-ui/src/views/pages/SignIn.tsx
  web/dashboard-ui/src/views/templates/PageTemplate.tsx
Labels: improvement, dashboard, javascript

#722 traefik v3: change traefik.containo.us to traefik.io
  charts/cosmo-dashboard/templates/ingress.yaml
  charts/cosmo-traefik/templates/cosmo-auth-middleware.yaml
  charts/cosmo-traefik/values.yaml
  hack/local-run-test/templates/code-server-01/cosmo-template.yaml
  hack/local-run-test/templates/code-server-01/kubernetes/network.yaml
  internal/cmd/template/workspace.go
  internal/controllers/__snapshots__/workspace_controller_test.snap
  pkg/workspace/__snapshots__/workspace_test.snap
  pkg/workspace/workspace.go
Labels: chore

#723 Fix: UI bugs
  web/dashboard-ui/src/views/organisms/UserActionDialog.tsx
Labels: bug, dashboard, javascript

#728 support userrole and forbidden userrole annotation in output of cosmoctl template generate
  Makefile
  internal/cmd/__snapshots__/template_test.snap
  internal/cmd/root_cmd.go
  internal/cmd/template/generate.go
  internal/cmd/template_test.go
  internal/cmd/version/version.go
Labels: improvement, cosmoctl

#730 fix controller bugs
  internal/controllers/__snapshots__/cluster_instance_controller_test.snap
  internal/controllers/__snapshots__/user_controller_test.snap
  internal/controllers/cluster_instance_controller_test.go
  internal/controllers/instance_controller.go
  internal/controllers/user_controller.go
  internal/controllers/user_controller_test.go
Labels: bug, controller-manager, go
